<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Madsit!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/mads.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato|Indie+Flower|Pacifico|Abel|Slabo+27px' rel='stylesheet' type='text/css'>

    <!-- end stylesheets -->


</head>
<body ng-app="MADSapp">
<div class="navbar navbar-default navbar-fixed-top" role="banner">
    <div id="language">
        <ul class="">
            <li><a href="english.html"><img src="assets/images/flag_eng.png" width="20" height="13" alt=""/></a></li>
            <li><a href="index.html"><img src="assets/images/flag_spa.png" width="20" height="13" alt=""/></a></li>
        </ul>
    </div>

    <div id="navigationbar">
        <div class="navbar-header" role="navigation">
            <a href="#" du-smooth-scroll du-scrollspy class="navbar-brand"><strong>Madsit!</strong></a>
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse pull-right">
            <li><a href="#nosotros"  du-smooth-scroll du-scrollspy>ABOUT US</a></li>
            <li><a href="#servicios"  du-smooth-scroll du-scrollspy>SERVICES</a></li>
            <li><a href="#contacto"  du-smooth-scroll du-scrollspy>CONTACT US</a></li>
        </ul>
    </div>
</div>
<section id="main" class="img-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h1 class="main-title">IT Solutions</h1>
            </div>
        </div>
    </div>
</section>



<section id="nosotros">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="lines"><h1 class="text-center">ABOUT US</h1></div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                    <p class="lead">
                        Madsit! was born in mid-2014, when we ran into nice-to-have applications not yet developed, our
                        motivation for innovation and our passion for technology.
                        Founded by two Computer Engineers, Madsit!'s goal is to transform ideas into reality.
                    </p>
                </div>
            </div>
        <div class="row">
            <p class="icons text-center"><i class="fa fa-cogs"></i> + <i class="fa fa-code"></i> = <i class="fa fa-cubes color"></i></p>
            <p></p>
        </div>
    </div>
    <div class="img1">
    </div>
</section>



<section id="servicios">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="lines"><h1 class="text-center">SERVICES</h1></div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-xs-12 margin-tb">
                    <p class="fa fa-mobile"></p>
                    <p class="lead margin">
                        Cross-Platform products, fulfilling each person's necessities. Accessibility from
                        all devices is one of Madsit!'s main pilars.
                    </p>
                </div>
                <div class="col-md-4 col-xs-12 margin-tb">
                    <p class="fa fa-check-square"></p>
                    <p class="lead margin">
                        Simple solutions, thought through for each particular scenario, ensuring this way
                        a taylor-made product for our customers.
                    </p>

                </div>
                <div class="col-md-4 col-xs-12 margin-tb">
                    <p class="fa fa-superpowers"></p>
                    <p class="lead margin">We use cutting-edge technologies, ensuring solidness, but also
                        thinking in design, producing a nice look-and-feel in our solutions.</p>

                </div>

            </div>
        </div>
    </div>
    <div class="img2"></div>

</section>

<section id="contacto" ng-controller="contactController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 col500 jumbotron margin-tb">
                <form name="form" class="center-text text-center" ng-show="mostrar">
                    <p class="contact-par">
                        To get in touch, simply fill the contact form, and we will contact you shortly!
                        </p>
                    <div class="form-group">
                        <input name="name" ng-model="contact.name" type="text" class="form-control" placeholder="Contact's name">
                    </div>
                    <div class="form-group">
                        <input name="phone" ng-model="contact.phone" type="text" class="form-control" placeholder="Contact's phone">
                    </div>
                    <div class="form-group">
                        <input name="email" ng-model="contact.email" type="email" class="form-control" placeholder="Contact's email">
                    </div>
                    <div class="form-group">
            <textarea name="data" ng-model="contact.message" type="text" class="form-control" placeholder="Message" cols="30" rows="5">
            </textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-lg" ng-click="send()">Send</button>
                    </div>
                </form>
                <p class="contacted center-text text-center" ng-show="!mostrar">Thank you for contacting Madsit! We will get in touch in no time!</p>
            </div>
        </div>
    </div>
</section>
<section id="map">
    <div class="bairesline"><div class="baires">We're in Buenos Aires, Argentina</div></div>
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <iframe class="map" width="100%" height="300" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/view?zoom=14&center=-34.5975788,-58.460424&key=AIzaSyCES5iqcZ9YN_XRl4M57TEgVPNqE3Porio" allowfullscreen>
    </iframe>
</section>


<footer class="footer">
    <div class="container-fluid">
        <div class="row footer-text">
            <div class="col-md-6 col-xs-4">
                <div class="brand">
                    Madsit!
                </div>
            </div>
            <div class="col-md-6 col-xs-8 social-net">
                <div class="social-text">
                    Social:
                    <ul class="social-list">
                        <li><a  target="_blank" href="http://www.facebook.com/invitaciones"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                        <li><a target="_blank" href="http://www.twitter.com/invitaciones"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                        <li><a href="mailto:mads.solutions@gmail.com" class=""><i class="fa fa-envelope"></i> mads.solutions@gmail.com</a></li>
                        <li><i class="fa fa-whatsapp"></i> +5491134934000</li>
                        <li><i class="fa fa-whatsapp"></i> +5491132657296</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 col-xs-12 text-center">
                2014<i class="fa fa-fw fa-copyright"></i> Madsit!. All rights reserved.
            </div>
        </div>
    </div>

</footer>


<!-- Scripts -->
<script src="assets/js/vendor/angular.min.js"></script>
<script src="assets/js/vendor/angular-scroll.min.js"></script>
<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/MADSapp.js"></script>
<script src="assets/js/vendor/ngParallax.js"></script>


<!-- end scripts -->
</body>
</html>